node_modules/
npm-debug.log

R/log_*.txt
R/output*.png
R/.Rapp.history
R/.RData
R/.Rhistory

#build/
data/preprocessSubset*.txt
.DS_Store
test_setup_local/*
assets/build/tworavens_app-*.js
assets/build/tworavens_styles-*.css


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# C extensions
*.so
webpack-stats.json
data/d3m/o_196seed/data/.Rapp.history
setup/r-setup/RINSTALL.*.LOG

.idea/

# ---------------------------------
# specific TwoRavens directories
# ---------------------------------
.git
dev_scripts
docs
documentation
ravens-test
xgboost
assets/build


# ---------------------------------
# specific Test Datasets
# ---------------------------------
ravens_volume/evtdata_user_dataset/*
ravens_volume/test_output/*
ravens_volume/TWORAVENS_USER_DATASETS/*
ravens_volume/test_data/*
!ravens_volume/test_data/185_baseball
!ravens_volume/test_data/196_autoMpg
#
#!ravens_volume/test_data/185_baseball_MIN_METADATA
#!ravens_volume/test_data/196_autoMpg_MIN_METADATA
#
#!ravens_volume/test_data/Western_Sahel_Grid-2010_2020
#!ravens_volume/test_data/Western_Sahel_Grid-Quarter-2010_2020
#
#!ravens_volume/test_data/LL1_h1b_visa_apps_7480
#!ravens_volume/test_data/LL1_terra_canopy_height_long_form_s4_80_MIN_METADATA
#
#!ravens_volume/test_data/56_sunspots_monthly
!ravens_volume/test_data/TR102_Northern_Ireland
#!ravens_volume/test_data/TR91_Acled_et_2011_2020
#
!ravens_volume/test_data/TR92_pgm_grid_samp
!ravens_volume/test_data/TR93_pgm_quarterly
!ravens_volume/test_data/CM_1990_2020
#
!ravens_volume/test_data/TR103_germany_state
#!ravens_volume/test_data/Global_Terrorism_Database_2014-2017
#!ravens_volume/test_data/TR_TS_air_quality
# Dallas demo data
!ravens_volume/test_data/TR104_Police_Incidents
