[submodule "assets/common"]
	path = assets/common
	url = https://github.com/TwoRavens/common.git
	branch = master
[submodule "ravens_volume/test_data"]
	path = ravens_volume/test_data
	url = git@github.com:TwoRavens/datasets.git
