node_modules/
npm-debug.log

R/output*.png
R/.Rapp.history
R/.RData
R/.Rhistory
R/log_*

#build/
data/preprocessSubset*.txt
.DS_Store
test_setup_local/*
assets/build/tworavens_app-*.js
assets/build/tworavens_styles-*.css
assets/build/*.png
#assets/dist/
assets/result.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# C extensions
*.so
webpack-stats.json
data/d3m/o_196seed/data/.Rapp.history
setup/r-setup/RINSTALL.*.LOG

ravens_volume/test_output/*
ravens_volume/reports/*
ravens_volume/solvers/
ravens_volume/test_output_auto_sklearn/
!ravens_volume/test_output/placeholder.md
ravens_volume/manipulation_data/*
ravens_volume/config_*.json
ravens_volume/32_wikiqa
ravens_volume/debug/
assets/pkgs/swagger-ui/dist/*.map
.Rhistory
ravens_volume/test_data/*/search_config.json
#ravens_volume/test_data/01_TEST_SOURCE/placeholder.md

# ignore redis dumpfile
dump.rdb

# IDE
.idea/
R/preprocess/.Rapp.history
ravens_volume/db_mongo
ravens-test/cypress/screenshots/
ravens-test/cypress/videos/
dev_scripts/output
ravens_volume/test_data/05_incarceration/TRAIN/dataset_TRAIN/tables/learningData copy.csv

# automl solvers
catboost/
catboost_info/
src/
results/api_experiment_run*
ravens_volume/test_data/00_testit
ravens_volume/TwoRavens_user_datasets
assets/image-markup/
tworaven_apps/image_utils/test_data/*
!tworaven_apps/image_utils/test_data/.gitkeep
