branches:
  # all branches
  only:
  - gh-pages
  - /.*/

language: python

python:
  - "3.6"

services:
  - docker

install:
  # Build/test dependencies
  - pip install --no-cache-dir -r requirements/prod.txt
  - pip install coveralls
script:
  - echo $TRAVIS_BRANCH;
  # Run django tests.  (Note django settings are an env variable)
  - python manage.py test tworaven_apps.ta2_interfaces tworaven_apps.configurations tworaven_apps.workspaces
  - coverage run --source=tworaven_apps.ta2_interfaces manage.py test tworaven_apps.ta2_interfaces tworaven_apps.workspaces

  #- coverage run --source=tworaven_apps.raven_auth manage.py test tworaven_apps.raven_auth

after_success:
  #
  # Build images and push to dockerhub
  #
  - echo $TRAVIS_BRANCH;
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker build -t tworavens/ravens-main:latest .;
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push tworavens/ravens-main:latest;
    fi
  - if [ "$TRAVIS_BRANCH" == "develop" ]; then
    docker build -t tworavens/ravens-main:develop .;
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push tworavens/ravens-main:develop;
    fi
  # -------------------------------------
  # Temp push, to test new k8s deploy
  # -------------------------------------
  - if [ "$TRAVIS_BRANCH" == "develop" ]; then
    docker build -t tworavens/ravens-main:dm-demo .;
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push tworavens/ravens-main:dm-demo;
    fi
  - if [ "$TRAVIS_BRANCH" == "EventData_generalization" ]; then
    cd setup/nginx/;
    docker build -f ./Dockerfile-eventdata -t tworavens/eventdata-ravens-nginx:latest .;
    cd ../../;
    docker build -f ./Dockerfile-eventdata -t tworavens/eventdata-ravens-main:latest .;
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push tworavens/eventdata-ravens-main:latest;
    docker push tworavens/eventdata-ravens-nginx:latest;
    fi  #
  # send report to coveralls
  #
  - coveralls
