<div class="alert alert-danger" role="alert">
  Please scroll down to see the error{{ form_errors|length|pluralize }} below.

  {% if form_errors %}
    <ul>
    {% for field_name, err_list in form_errors.items %}
        <li>
          {% if field_name != "__all__" %}
          <strong>{{ field_name|escape }}</strong>
            <br />
          {% endif %}
          {% for err_msg in err_list %}
              - {{ err_msg }}{% if not forloop.last %}<br />{% endif %}
          {% endfor %}

        </li>
    {% endfor %}
  </ul>
{% endif %}
</div>
