{% load custom_tags %}

{% if form.non_field_errors %}
  {% with form_errors=form.non_field_errors %}
    {% include "registration/generic_form_error_render.html" %}
  {% endwith %}
{% endif %}

{% if form.errors %}
  {% with form_errors=form.errors %}
    {% include "registration/generic_form_error_render.html" %}
  {% endwith %}
{% endif %}


{% for field in form %}
<div class="form-group">

  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {% if field.errors %}
    <div class="text-danger">{{ field.errors }}</div>
  {% endif %}

  {{ field | addclass:"form-control" }}

  {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
  {% endif %}
</div>
{% endfor %}
