{% extends 'base.html' %}
{% load static %}

{% block title_block %}Login{% endblock %}

{% block main_content %}
<div class="row">
  <div class="col col-md-6">
    <h3>Login</h3>

    {% if just_logged_out %}
    <div class="alert alert-success" role="alert">
      You have successfully logged out.
    </div>
    {% endif %}

    {% if is_d3m_domain and not user.is_authenticated %}
    <div class="alert alert-info" role="alert">
      Please log in to use TwoRavens for D3M.
      {% <br />(currently limited) %}
      <br />(credentials: test_user/test_user)
    </div>
    {% endif %}

    {% if user.is_authenticated %}
    <div class="alert alert-info" role="alert">
      <p>You are currently logged in as <b>{{ user.username }}</b>.</p>

      <p>To log in a different user, first <a href="{% url 'logout' %}">log out</a>.</p>

      <p>(I'm here by mistake, <a href="{% url 'home' %}">take me to the  homepage</a>).</p>

    </div>

    {% endif %}

    {% if not user.is_authenticated %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}

      {% include "registration/generic_form_render.html" %}

      <div class="row">
        <div class="col-6">
          <a href="{% url 'password_reset' %}">Forgot password?</a>
        </div>

        <div class="col-6 text-right">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>

      {% if ALLOW_SOCIAL_AUTH %}
          <div class="row">
            <div class="col-12">
            <hr />
            <div class="text-center">
                <p>Alternate login:</p>

            <!-- github auth -->
            <a href="{% url "social:begin" "github" %}" class="btn xbtn-light btn-outline-secondary" style="text-decoration:none;">
              <img src="{% static "images/sign-in/github/GitHub-Mark-32px.png" %}" alt="Sign in with Github" />
               <img src="{% static "images/sign-in/github/GitHub_Logo.png" %}" width="60" alt="Sign in with Github" /></a>

            {% comment %}
            <!-- google auth -->
            <br /><a href="{% url "social:begin" "google-oauth2" %}">
              <img src="{% static "images/sign-in/google/btn_google_signin_dark_normal_web.png" %}" alt="Sign in with Google" /></a>
            {% endcomment %}
            </div>
          </div>
      {% endif %}

    {% endif %}
    <div class="row">
      <div class="col-12">
        <br /><br />
        <br /><br />&nbsp;
      </div>
    </div>
  </div>
</div>
{% endblock %}
