{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title_block %}Session Info{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "pkgs/open-iconic/font/css/open-iconic-bootstrap.min.css" %}">

<style>
#tbl_workspace_info th {
  text-align: left;
}
table.tbl_workspaces thead th {
  text-align: center;
  background-color: #ececec;
}
table.tbl_workspaces tbody tr td {
  text-align: left;
}

</style>
{% endblock %}
{% block extra_js %}
{{ block.super }}

<script src="{% static "js/open_close_btn.js" %}"></script>

{% endblock %}

{% block main_content %}

<div class="row">
  {% include "content_pages/snippet_return_to_links.html" %}

  <div class="col-12 col-md-12">
    <h3>Workspace Info</h3>

    <div class="card">
      <h4 class="card-header">Current Workspace</h4>
      <div class="card-body">
       - <b>session_key</b>: <code>{{ session_key }}</code>
      </div>
    </div>
      {% if not current_workspace %}
    <div class="alert alert-warning" role="alert">
      Sorry, no current workspace to show.
    </div>
    {% else %}
    {% comment %}

    <div class="alert alert-success" role="alert">
        <b>current workspace found!</b>
    </div>
    {% endcomment %}


    <table class="table table-bordered table-condensed tbl_workspaces">
      <thead>
        <tr>
          <th>App Domain</th>
          <th>Data/Problem</th>
          <th>Last updated</th>
        </tr>
      </thead>
      {% with ws=current_workspace skip_cnt=1 is_current_workspace=1 %}
        {% include "workspace_row.html" %}
      {% endwith %}
      </table>
    {% endif %}
    <hr />

    <div class="card">
      <h4 class="card-header">Other Workspace{{ other_workspaces|pluralize }}</h4>
    </div>


    {% if not other_workspaces %}
    <div class="alert alert-warning" role="alert">
      Sorry, no other workspaces to show.
    </div>
    {% else %}
    {% comment %}
    <div class="alert alert-success" role="alert">
        <b>Other workspace{{ other_workspaces|pluralize }} found!</b>
    </div>
    {% endcomment %}


    <table class="table table-bordered table-condensed tbl_workspaces">
      <thead>
        <tr>
          <th>#</th>
          {#<th>Name</th>#}
          <th>App Domain</th>
          <th>Data/Problem</th>
          <th>Last updated</th>
        </tr>
      </thead>

    {% for ws in other_workspaces %}
      {% include "workspace_row.html" %}
    {% empty %}
    <tbody>
      <tr>
          <td colspan="4">(no other workspaces)</td>
      </tr>
    </tbody>
    {% endfor %}
    </table>
    {% endif %}

  </div><!-- end col -->
</div><!-- end row -->
{% endblock %}
