{% extends 'base.html' %}
{% load humanize %}

{% block title_block %}Session Info{% endblock %}

{% block extra_css %}
{{ block.super }}
<style>
#tbl_workspace_info th {
  text-align: left;
}
</style>
{% endblock %}
{% block main_content %}
<div class="row">
  <div class="col-12 col-md-8">
    <h3>TwoRavens Session Info (test)</h3>

    <p><b>session_key</b>: {{ session_key }}</p>
    {% if not current_workspace %}
    <div class="alert alert-warning" role="alert">
      Sorry, no current workspace to show.
    </div>
    {% else %}
    <div class="alert alert-success" role="alert">
        <h4>workspace found!</h4>
    </div>

    <div class="card" style="width: 40rem;">
      <div class="card-header">
        <h5>Current Workspace</h5>
      </div>
      <div class="card-body">
        <h5>Basic data</h5>

        <table class="table table-condensed table-bordered" id="tbl_workspace_info">
          <tr>
            <th>name</th>
            <td>{{ current_workspace.name }}</td>
          </tr>
          <tr>
            <th>app domain</th>
            <td>{{ current_workspace.app_domain }}</td>
          </tr>
          <tr>
            <th>user</th>
            <td>{{ current_workspace.user }}</td>
          </tr>
          <tr>
            <th>data_source_type</th>
            <td class="text-left">
                  <b>name:</b> {{ current_workspace.data_source_type }}<br />
                  <b>source_url:</b> {{ current_workspace.data_source_type.source_url }}<br />
                  <b>description:</b> {{ current_workspace.data_source_type.description }}
            </td>
          </tr>
          <tr>
            <th>modified</th>
            <td>{{ current_workspace.modified }}</td>
          </tr>
        </table>

        <h5>Workspace params</h5>
        <p>- Click variable name to view data</p>
        <div id="accordion" role="tablist">
            {% if current_workspace.zparams %}
              {% with json_var=current_workspace.zparams var_name='zparams' %}
                {% include 'json_var_card.html' %}
              {% endwith %}
            {% endif %}
            {% if current_workspace.zparams %}
              {% with json_var=current_workspace.allnodes var_name='allnodes' %}
                {% include 'json_var_card.html' %}
              {% endwith %}
            {% endif %}
        </div>
      </div><!-- end: card body -->
    </div><!-- end: card -->
    <!--p><a href="{% url 'clear_user_metadata' %}">clear user session data</a></p-->
    {% endif %}



  </div><!-- end col -->
</div><!-- end row -->
{% endblock %}
