.navbar-default {
    height: 62px;
}

div.sidepanel div.panelbar {
    position: absolute;
    height: 100%;
}

/* Toggle handles on panels */
div.sidepanel div.panelbar span {
    display: flex;
    width: 16px;
    height: 100%;
    position:relative;
    justify-content:center;
    align-items:center;
    font-size: .75em;
    color: #ADADAD;
    background: #eee;
}
