{% extends "helper_pages_base.html" %}
{% load static %}

  {% block main_content %}
  <div class="row">

    <div class="col-sm-6">
      <h3>gRPC Requests</h3>
      <ul>
        <li><a href="{% url 'view_startsession' %}">StartSession</a>
            {% url 'view_startsession' %}
        </li>
        <li><a href="{% url 'view_update_problem_schema' %}">UpdateProblemSchema</a>
            {% url 'view_update_problem_schema' %}
        </li>
        <li><a href="{% url 'view_endsession' %}">EndSession</a>
            {% url 'view_endsession' %}
        </li>

      </ul>
    </div>
    <div class="col-sm-6">
      <h3>Health/Monitoring checks</h3>
      <ul>
        <li><a href="{% url 'view_monitoring_alive' %}">
              python app</a>
              <br />&nbsp; &nbsp; {% url 'view_monitoring_alive' %}
        </li>

        <li><a href="{% url 'view_rook_route' 'healthcheckapp' %}">rook app</a>
            <br />&nbsp; &nbsp; {% url 'view_rook_route' 'healthcheckapp' %}
        </li>

      </ul>

      <h3>D3M config info</h3>
      <ul>
        <li><a href="{% url 'view_d3m_list' %}">
              View D3M configs in the database</a>
        </li>


        <li><a href="{% url 'view_d3m_details_json_latest' %}">JSON of the
              default or latest config information</a>
              <br />&nbsp; &nbsp; {% url 'view_d3m_details_json_latest' %}
        </li>

      </ul>
    </div>

  </div>
  {% endblock %}
