/* styling for header about */
.about {
    position: relative;
    background: white;
    z-index: 100;
    display: -ms-flexbox;
    padding: .5em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .5rem;
}

div.sidepanel div.panelbar {
    position: absolute;
    height: 100%;
}

/* Toggle handles on panels */
div.sidepanel div.panelbar span {
    display: flex;
    width: 16px;
    height: 100%;
    position:relative;
    justify-content:center;
    align-items:center;
    font-size: .75em;
    color: #ADADAD;
    background: #eee;
}

@media screen and (max-width: 800px) {

    @keyframes twopanel-right {
        0% {transform: translateX(100%);}
        100% {transform: translateX(0);}
    }

    @keyframes twopanel-left {
        0% {transform: translateX(-40%);}
        100% {transform: translateX(0);}
    }

    .hide-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }

    /* force header styling */
    #headerMenu {
        top: 0 !important;
        transform: translateY(0) !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    #headerContent {
        width: 100% !important;
        flex-flow: column !important;
        align-items: start !important;
    }

    /* focus is on left side */
    .focused-left {
        width: 90%;
    }
    .unfocused-right {
        position: fixed;
        left: 90%;
    }

    /* focus is on right side */
    .unfocused-left {
        margin-left: -40%;
        right: 90% !important;
    }
    .focused-right {
        width: 90% !important;
    }
}

