<script>
/* Examples of gRPC request calls */

// -------------------------------------------
// example of a HelloRequest
// -------------------------------------------
let Hello_ex = {};


// ------------------------------------------
// example of a SearchSolutionsRequest
// -------------------------------------------
let SearchSolutions_ex = {% include "test_requests/req_SearchSolutions.json" %}

let GetSearchSolutionsResults_ex = {
                              "searchId": "searchId_hwdjip"
                            };

let EndSearchSolutions_ex = {
                            "searchId": "searchId"
                          };

let StopSearchSolutions_ex = {
                            "searchId": "searchId"
                          };

let DescribeSolution_ex = {
                            "solutionId": "solutionId"
                          };

let ScoreSolution_ex = {% include "test_requests/req_ScoreSolution.json" %}

let GetScoreSolutionResults_ex = {
                                  "requestId": "requestId_yzjrzt"
                                };

let FitSolution_ex = {% include "test_requests/req_FitSolution.json" %}

let GetFitSolutionResults_ex = {
                        "requestId": "requestId_yzjrzt"
                      };

let ProduceSolution_ex = {% include "test_requests/req_ProduceSolution.json" %}

let GetProduceSolutionResults = {
                                  "requestId": "requestId_2l144b"
                                };

let SolutionExport_ex = {
                          "fittedSolutionId": "solutionId_gtk2c2",
                          "rank": 0.122
                        };

let UpdateProblem_ex = {% include "test_requests/req_UpdateProblem.json" %}

let ListPrimitives_ex = {};

</script>
