/* Examples of gRPC request calls */
<script>

// -------------------------------------------
// example of a HelloRequest
// -------------------------------------------
let Hello_ex = {};


// ------------------------------------------
// example of a SearchSolutionsRequest
// -------------------------------------------
let SearchSolutions_ex = {
            "userAgent": "TA3 system",
            "version": "2018.5.2_pre",
            "timeBound": 10.0,
            "priority": 101.0,
            "allowedValueTypes": [
              "DATASET_URI",
              "CSV_URI"
            ],
            "problem": {
              "problem": {
                "id": "id-of-this-problem",
                "version": "version of problem",
                "name": "name of the problem",
                "description": "predicting hall of fame inductees",
                "taskType": "REGRESSION",
                "taskSubtype": "MULTIVARIATE",
                "performanceMetrics": [
                  {
                    "metric": "ROOT_MEAN_SQUARED_ERROR"
                  }
                ]
              },
              "inputs": [
                {
                  "datasetId": "dataset_123",
                  "targets": [
                    {
                      "resourceId": "r52",
                      "columnIndex": 3,
                      "columnName": "at_bats"
                    }
                  ]
                }
              ]
            }
          };

let EndSearchSolutions_ex = {
                            "searchId": "searchId"
                          };

let StopSearchSolutions_ex = {
                            "searchId": "searchId"
                          };

let DescribeSolution_ex = {
                            "solutionId": "solutionId"
                          };
</script>
