<script>
/* Examples of gRPC request calls */

// -------------------------------------------
// example of a HelloRequest
// -------------------------------------------
let Hello_ex = {};


// ------------------------------------------
// example of a SearchSolutionsRequest
// -------------------------------------------
let SearchSolutions_ex = {% include "test_requests/req_SearchSolutions.json" %}

let GetSearchSolutionsResults_ex = {
                              "searchId": "searchId_hwdjip"
                            };

let EndSearchSolutions_ex = {
                            "searchId": "searchId"
                          };

let StopSearchSolutions_ex = {
                            "searchId": "searchId"
                          };

let DescribeSolution_ex = {
                            "solutionId": "solutionId"
                          };

let ScoreSolution_ex = {% include "test_requests/req_ScoreSolution.json" %}

let FitSolution_ex = {% include "test_requests/req_FitSolution.json" %}

let ProduceSolution_ex = {% include "test_requests/req_ProduceSolution.json" %}

</script>
