<script>



let StartSession_ex = { 'user_agent' : 'user_agent' };

let EndSession_ex = {
                      'session_id' : 'session_0'
                    };

let SetProblemDoc_ex = {
                         "context": {
                            "session_id": "session_0"
                          },
                          "updates": [
                            {
                              "taskType": "CLASSIFICATION"
                            },
                            {
                              "metric": "ACCURACY"
                            },
                            {
                              "task_description": "This data consists of..."
                            }
                          ]
                        };
/* {
                           "context":{
                              "session_id":"session_0"
                           },
                           "ReplaceProblemDocField":{
                              "taskType":"CLASSIFICATION",
                              "metric":"ACCURACY"
                           }
                        };
*/
let CreatePipelines_ex = {% include "test_requests/req_create_pipeline.json" %}

let GetExecutePipelineResults_ex = {
                                      "context": {
                                        "session_id": "session_0"
                                      },
                                      "pipeline_ids": [
                                        "pipeline_1",
                                        "pipeline_2"
                                      ]
                                    };


let ListPipelines_ex = {
                          "context": {
                            "session_id": "session_0"
                          }
                        };


let CancelPipelines_ex = {
                          "context": {
                            "session_id": "session_0"
                          },
                          "cancel_pipeline_ids" : ["pipeline_1",
                                                   "pipeline_2"]
                        };


let DeletePipelines_ex = {
                          "context": {
                            "session_id": "session_0"
                          },
                          "delete_pipeline_ids" : ["pipeline_1",
                                                   "pipeline_2"]
                        };

let GetCreatePipelineResults_ex = {
                          "context": {
                            "session_id": "session_0"
                          },
                          "pipeline_ids" : ["pipeline_1",
                                                   "pipeline_2"]
                        };



let ExportPipeline_ex = {
                           "context":{
                             "session_id": "session_0"
                           },
                           "pipelineId":"pipeline_1",
                           "pipelineExecUri":"<<EXECUTABLE_URI>>"
                        };

let ExecutePipelineDirect_ex = {
                             "context":{
                                "sessionId": "session_0"
                             },
                             "pipelineId": "pipeline_1",
                             "dataset_uri": "file://ravens_volume/test_data/185_baseball/TRAIN/dataset_TRAIN/tables/learningData.csv",
                           }

let ExecutePipeline_ex = {
                             "context":{
                                "sessionId": "session_0"
                             },
                             "pipelineId": "pipeline_1",
                             "data":[
                              [
                                 5.4496644295302,
                                 5.4496644295302
                              ],
                              [
                                 192.81711409396,
                                 192.81711409396
                              ],
                              [
                                 103.211604095563,
                                 103.211604095563
                              ],
                              [
                                 2978.70469798658,
                                 2978.70469798658
                              ],
                              [
                                 15.6577181208054,
                                 15.6577181208054
                              ],
                              [
                                 76.0771812080537,
                                 76.0771812080537
                              ],
                              [
                                 1.5738255033557,
                                 1.5738255033557
                              ],
                              [
                                 23.5268456375839,
                                 23.5268456375839
                              ]
                           ]
                          };

let DescribeDataflow_ex = {
                            "context": {
                              "sessionId": "session_0"
                            },
                            "pipelineId": "pipeline_1"
                          };

let GetDataflowResults_ex = DescribeDataflow_ex;


</script>
