{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title_block %}GRPC History{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "pkgs/open-iconic/font/css/open-iconic-bootstrap.min.css" %}">

<style>
#tbl_workspace_info th {
  text-align: left;
}
table.tbl_workspaces thead th {
  text-align: center;
  background-color: #ececec;
}
table.tbl_workspaces tbody tr td {
  text-align: left;
}

</style>
{% endblock %}
{% block extra_js %}
{{ block.super }}

<script src="{% static "js/open_close_btn.js" %}"></script>
<script>
  function collapseAllHide(){
    $('.collapse').collapse('hide');
    $("#btnShowAll").removeClass('btn-outline-secondary disabled').addClass('btn-primary');
    $("#btnHideAll").removeClass('btn-primary').addClass('btn-outline-secondary disabled');
  }
  function collapseAllShow(){
    $('.collapse').collapse('show');
    $("#btnHideAll").removeClass('btn-outline-secondary disabled').addClass('btn-primary');
    $("#btnShowAll").removeClass('btn-primary').addClass('btn-outline-secondary disabled');
  }

  $(document).ready(function() {
    $("#btnShowAll").bind( "click", function() {
      collapseAllShow()
    });
    $("#btnHideAll" ).bind( "click", function() {
      collapseAllHide()
    });
    console.log( "ready!" );
  });
</script>
{% endblock %}

{% block main_content %}

<div class="row">

  <div class="col-12 col-md-12">
    {% include "content_pages/snippet_return_to_links.html" %}
    <h3>gRPC Search History</h3>


    <div class="card">
      <h4 class="card-header">Search ID: {{ search_id}}</h4>
      {% comment %}
      <div class="card-body">
       - <b>session_key</b>: <code>{{ session_key }}</code>
      </div>
      {% endcomment %}
    </div>

    {% if ERROR_MSG %}
      <div class="alert alert-danger" role="alert">
        {{ ERROR_MSG }}
      </div>
    {% endif %}


    {% if json_history %}
    <br />
    <div>
      <div class="row">
        <div class="col-sm">
          <a id="btnShowAll" href="#" class="btn btn-sm btn-primary">Show All Responses/Requests</a>
          &nbsp; &nbsp;
          <a id="btnHideAll" href="#"  class="btn btn-sm btn-outline-secondary">Hide All Responses/Requests</a>
        </div>

        <div class="col-sm text-right">
          <a href="{% url 'view_clear_grpc_stored_history' %}" target="_blank" class="btn btn-sm btn-danger">
            (!) Erase all saved gRPC calls</a>
        </div>
      </div>
    </div>
    <br />
    <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm tbl_workspaces">
      <thead>
        <tr>
          <th>request<br />cnt</th>
          <th>Request Type</th>
          <th>Pipeline Id</th>
          <th width="60%">Request/Response</th>
        </tr>
      </thead>
      <tbody>
      {% for req in json_history %}
      <tr>
        <td class="text-center"><span class="badge badge-secondary">{{ forloop.counter }}</span></td>
        <td>{{ req.request_type }} (id: {{ req.id }})
          {#<br />created: {{ req.created|date:"D d M Y" }} #}
        </td>
        <td class="text-center">

            {% if req.pipeline_id == -1 %}
              {{ req.pipeline_id }}
            {% else %}
              {% ifchanged req.pipeline_id %}
                <h5><span class="badge badge-pill badge-success">{{ req.pipeline_id }}</span></h5>

              {% else %}
                <h6><span class="badge badge-pill badge-light">{{ req.pipeline_id }}</span></h6>
              {% endifchanged %}
            {% endif %}
        </td>
        <td>
          <a class="btn btn-sm btn-info" data-toggle="collapse" href="#req-id-{{ req.id }}" role="button" aria-expanded="false" aria-controls="req-id-{{ req.id }}">view request</a>
          <br />
          <div class="collapse multi-collapse" id="req-id-{{ req.id }}">
            <div class="card card-body">
              <pre>{{ req.request_as_json }}</pre>
            </div>
          </div>

        </td>
      </tr>
        {% for resp in req.response_list %}
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="text-center">
            <h6><span class="badge badge-pill badge-light">{{ resp.pipeline_id }}</span></h6>
            {# {{ resp.pipeline_id }} #}
          </td>
          <td>

            &nbsp;&nbsp;&nbsp;&nbsp; <a class="btn btn-sm btn-outline-info" data-toggle="collapse" href="#resp-id-{{ resp.id }}" role="button" aria-expanded="false" aria-controls="resp-id-{{ resp.id }}">view response</a>
            <br />
            <div class="collapse multi-collapse" id="resp-id-{{ resp.id }}">
              <div class="card card-body">
                <p>(response to {{ req.request_type }})</p>
                <pre>{{ resp.response_as_json }}</pre>
              </div>
            </div>

          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endfor %}
    </table>
    </div>
    {% endif %}
    <hr />

  </div><!-- end col -->
</div><!-- end row -->
{% endblock %}
