{% extends 'base.html' %}
{% load static %}

{% block title_block %}Two Ravens - 500 Error{% endblock %}


{% block main_content %}
<div class="container">
      <div class="row">
          <div class="col-12 col-md-6">
              <div class="card">
                  <div class="card-header">
                    <img src="{% static "images/TwoRavens.png" %}" alt="TwoRavens" width="100" class="img-responsive" />
                  </div>
                  <div class="card-body"><p>
                    <p style="font-size: 1.3em; color:inheret;">Sorry! An Error Occurred.*
                        <br />
                        <br />
                        Please try refreshing the <a href="/">homepage</a>.
                    </p>

                    <p><br />(* Note to techies: It's a 500 error.  Our developers
                        will be receiving an email and weeping.  But don't
                        worry they'll be picking themselves up, making more coffee, and fixing things in no time)<p>
                  </div>
          </div>
      </div>

</div>

{% endblock %}
