{% load render_bundle from webpack_loader %}
{% load static %}
<!doctype html>
<html>
  <head>
    <title>TwoRavens</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    <!--<link rel="stylesheet" href="{% static "build/tworavens_styles.css" %}"-->
    {% render_bundle 'main' 'css' %}


    <script src="{% static "Ladda/dist/spin.min.js" %}"></script>
    <script src="{% static "Ladda/dist/ladda.min.js" %}"></script>
    <script src="{% static "jquery/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "d3/d3.v3.min.js" %}"></script>
  </head>
  <body>
    {% render_bundle 'main' 'js' %}

    <!--script src="{% static "build/tworavens_app.js" %}"></script-->

  </body>
</html>
