{% extends 'base.html' %}
{% load static %}

{% block main_content %}
{% if IS_TEST_PAGE %}
<div class="alert alert-info" role="alert">
  This is a test to display the error page--not an actual error.
</div>
{% endif %}

<h4><i>developer info below</i></h4>
<div class="alert alert-info" role="alert">
  Developers! Fastest way to fix this:
  <ul>
    <li>Load test data based on environment variables:
        <pre><code>fab load_d3m_config_from_env</code></pre>
    </li>
    <li>OR load create/load data based on local files in the "/ravens_volume" directory:
      <pre><code>fab make_d3m_configs_from_files</code></pre>
      Use this when using docker images that access "/ravens_volume"
    </li>

  </ul>
</div>

<div class="card">
  <div class="card-header">D3M configuration not loaded</div>
  <div class="card-body">

    <h4>No D3M configuration information in the database.</h4>

    <p>To fix this, load the configuration information and REFRESH this page:</p>
    <hr />
    <ul>

      <li><b>Locally through the command line:</b> (3 methods)
        <ul>
          <li>Give a data directory path:
            <pre><code>fab load_d3m_config:(path to data directory)</code></pre>
          </li>
          <!--
          <li>Load it from an environment variable named <b>D3M_CONFIG_FILEPATH</b>:
            <pre><code>fab load_d3m_config_from_env</code></pre>
          </li>
          -->
          <li>Load test data based on local files in the TwoRavens/ravens_volume directory:
            <pre><code>fab make_d3m_config</code></pre>
          </li>

      </ul></li>
      <li><b>Or via the web interface:</b>
        <ul>
          <li> &nbsp;<a href="{% url 'admin:configurations_d3mconfiguration_changelist' %}" target="_blank">Config admin</a>
          </li>
        </ul></li>
    </ul>

    <hr>
    Reference: <a href="{% url 'view_d3m_list' %}">view D3M configuration info </a>
        (when it's added!)
  </div>
</div>
{% endblock %}
