{% extends 'base.html' %}
{% load static %}

{% block main_content %}
{% if IS_TEST_PAGE %}
<div class="alert alert-info" role="alert">
  This is a test to display the error page--not an actual error.
</div>
{% endif %}
<div class="card">
  <div class="card-header">TwoRavens Domain/UI configuration was NOT loaded</div>
  <div class="card-body">
    <h4>No D3M Domain/UI information in the database.</h4>

    <p>To fix this, populate the AppConfiguration data:</p>
    <hr />
    <ul>
      <li><b>Via web interface:</b>
        <ul>
          <li> &nbsp;<a href="{% url 'admin:configurations_appconfiguration_changelist' %}" target="_blank">AppConfiguration admin</a>
          </li>
        </ul></li>
    </ul>
  </div>
</div>
{% endblock %}
